<div class="container-nav">
  <div class="phot">
      <a routerLink=''>
          <img src="../../../assets/Logo.jpeg" alt="">
      </a>
  </div>
  <div class="nav">
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink='/' routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/userLogin' routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/list-product' routerLinkActive="active">Listar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='add-product' routerLinkActive="active">Adicionar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='up-product' routerLinkActive="active">Modificar</a>
          </li>
          
        </ul>
  </div>
</div>


<router-outlet></router-outlet>